/.DS_Store
spotify/screens/layouts/spotify-height-350.png
spotify/screens/layouts/spotify-lg.png
spotify/screens/layouts/spotify-md.png
spotify/screens/layouts/spotify-s.png
spotify/screens/layouts/spotify-xs.png
spotify/screens/video/spotify-hover.mp4
spotify/screens/video/spotify-responsive.mp4
