:root {
    --sidebar-width: 80px;
    --footer-height: 90px;
    --header-height: 90px
}

/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.debug {
    min-height: 50px;
    padding: 5px;
    background-color: #ff000022;
    border: 2px dashed red;
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

[class^='col'] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.col-100 {
    width: 100%;
}

.col-90 {
    width: 90%;
}

.col-80 {
    width: 80%;
}

.col-75 {
    width: 75%;
}

.col-70 {
    width: 70%;
}

.col-50 {
    width: 50%;
}

.col-1-3 {
    width: calc(100% / 3);
}

.col-30 {
    width: 30%;
}

.col-25 {
    width: 25%;
}

.col-20 {
    width: 20%;
}

.col-10 {
    width: 10%;
}

.inline {
    display: inline-block;
}

/* LAYOUT */

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Main */

main {
    display: flex;
}

.sidebar {
    height: calc(100vh - var(--footer-height));
    width: var(--sidebar-width);
    background-color: #000000;
}

.main-content {
    width: calc(100% - var(--sidebar-width));
}

header {
    height: var(--header-height);
}

.content {
    height: calc(100vh - var(--footer-height) - var(--header-height));
}

/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar>div.contenitore {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-icons {
    width: var(--sidebar-width);
    height: calc(100vh - var(--footer-height));

}

.sidebar img {
    width: 2rem;
}

.sidebar .img-big {
    width: 2.5rem;
}

.sidebar .img-small {
    padding: 0;
}

.sidebar .profile {
    background-color: #808080;
    border-radius: 50%;
}

.sidebar .logobig {
    width: 65%;
}

.sidebar p {
    display: none;
}

div.contenitore-playlist h3 {
    display: none;
}

/* Header */

header {
    background-color: #090B13;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

header .upgrade {
    color: white;
    padding: 10px 30px;
    border-radius: 2rem;
    border: 1px solid white;
    font-weight: 600;
    font-size: .8rem;
}

header .upgrade:hover {
    cursor: pointer;
    font-size: 1rem;
}

/* content */

.main-content {
    background-color: #141922;
}

.content ul {
    text-align: center;
    padding-top: 20px;
}

.content ul li {
    color: #7F8085;
    font-weight: 600;
    font-size: .7rem;
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 20px;
}

.content ul li:hover {
    color: white;
    cursor: pointer;
}

.rigaverde {
    width: 30px;
    border: 1px solid #B9FF35;
    position: relative;
    right: -20px;
    top: 6px;
}

.content h2 {
    padding: 20px;
}

.content h2,
h3 {
    color: white;
}

.content h4 {
    color: #7D7F83;
}

.content h3,
h4 {
    text-align: center;
    padding-top: 10px;
}

.content .card img {
    width: 200px;
}

.card {
    display: inline-block;
    width: 200px;
    padding: 20px;
}

.main-content {
    overflow: auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.contenitore .piuascolti {
    text-align: left;
    padding-left: 20px;
}

.container-card {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.container-card * {
    flex-shrink: 0;

}

.card {
    position: relative;
}

.playhover {
    position: absolute;
    color: white;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.card:hover img {
    cursor: pointer;
    filter: grayscale(80%);
}

.card:hover .playhover {
    cursor: pointer;
    display: block;
    z-index: 10;
}

.playhover.stranger {
    top: 29%;
}

.playhover.cure {
    top: 35%;
}

.playhover.radardaily {
    top: 99px;
}




/* Footer */

footer {
    background-color: #282828;
    height: var(--footer-height);
    display: flex;
    padding: 5px 10px;
}

.footer-left {
    width: calc(100% / 4);
    display: flex;
    gap: 10px;
}

.footer-left img {
    width: 35px
}

.footer-left h3 {
    font-size: small;
}

.footer-left p {
    font-weight: 800;
    font-size: small;
    color: #848484;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-left:hover p {
    cursor: pointer;
    text-decoration: underline;
}

.footer-left i:hover {
    cursor: pointer;
    color: white;
}

.icons-footer * {
    color: #848484;
    display: block;
    padding-bottom: 5px;
}

.footer-center {
    width: calc(50%);
}

.footer-right {
    width: calc(100% / 4);
}

.footer-center {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-center-icons {

    display: flex;
    gap: 30px;
    align-items: center;
}

.fa-circle-play {
    font-size: 30px;
}

.fa-circle-play:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.footer-center-time {
    display: flex;
    gap: 20px;
    align-items: center;
}

.time-line {
    height: 2px;
    width: 100px;
    border: 2px solid #5A5A5A;
    border-radius: 2rem;
    position: relative;
}

.time-line-white {
    height: 2px;
    width: 50px;
    border: 2px solid white;
    border-radius: 2rem;
    position: absolute;
    top: -2px;
    left: -2px;
}

.pallino {
    position: absolute;
    width: 15px;
    height: 15px;
    top: -8px;
    left: 37px;
    background-color: white;
    border-radius: 50%;
    display: none;
}

.footer-center-time:hover .time-line-white {
    cursor: pointer;
    border-color: #B9FF35
}

.footer-center-time:hover .pallino {
    cursor: pointer;
    display: block;
}

.footer-center-time span {
    font-size: 0.6rem;
    font-weight: 700;
    padding: 5px 10px;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    color: white;
}

.footer-right * {
    padding-right: 5px;
}

.footer-right i {
    font-size: small;
}

.time-line.volume {
    width: 100px;
    display: inline-block;
}

.time-line-white.volume {
    width: 20px;
}

.time-line.volume:hover .pallino.volume {
    cursor: pointer;
    display: block;
}

.pallino.volume {
    top: -7px;
    left: 12px;
}

.time-line.volume:hover .time-line-white.volume {
    cursor: pointer;
    border-color: #B9FF35;
}

/* responsive xs */

@media screen and (min-width: 0px) {
    .sidebar .logobig {
        display: none;
        padding-left: 10px;
    }
}

/* responsive s */

@media screen and (min-width: 576px) {
    .sidebar * {
        color: #747474;
    }

    .sidebar .logosmall {
        display: none;
    }

    .sidebar .logobig {

        display: block;
    }

    .sidebar {
        --sidebar-width: 230x;

    }

    .sidebar>div {
        align-items: flex-start;
    }

    .links-sidebar {
        display: flex;
        align-items: center;
        gap: 10px;
        border-left: 2px solid #B9FF35;
        padding-left: 8px;
    }

    p.home {
        color: white;
    }

    .sidebar div.contenitore>div.links>img {
        margin-left: 10px;
    }

    div.links {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    div.links:hover p,
    img {
        color: white;
        cursor: pointer;
    }

    .sidebar p {
        display: inline-block;
    }

    .sidebar>div.contenitore {
        align-items: flex-start;
    }

    .contenitore.pad {
        margin-left: 10px;
    }


    div.download {
        width: 200px;
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid gray;
        margin-right: 10px;
        padding-bottom: 10px;
    }

    div.download:hover p {
        color: white;
        cursor: pointer;
    }

    div.download p {
        font-size: .8rem;
        font-weight: 600;
    }

    div.user {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    div.user p {
        color: white;
        font-weight: 700;
    }

    div.contenitore-playlist {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
        margin-top: 20px;
        gap: 10px;
        overflow: auto;
    }

    div.contenitore-playlist h3 {
        display: block;
        color: white;
        font-size: 1rem;
    }

    div.contenitore-playlist i {
        background-color: gray;
        color: black;
        padding: 10px;
        font-size: 1.5rem;
    }

    div.contenitore-playlist li {
        font-size: 0.9rem;
        font-weight: 700;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    div.contenitore-playlist li:hover {
        cursor: pointer;
        color: white;

    }

    div.contenitore-playlist li:hover i {
        background-color: white;
    }

    .time-line {
        width: 200px;

    }
}

/* responsive M */

@media screen and (min-width: 768px) {
    .footer-center-icons {
        padding: 0 100px;
    }

    .time-line {

        width: 357px;
    }
}