:root {
    --sidebar-width: 80px;
    --footer-height: 90px;
    --header-height: 90px
}

/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.debug {
    min-height: 50px;
    padding: 5px;
    background-color: #ff000022;
    border: 2px dashed red;
}

.container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

[class^='col'] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.col-100 {
    width: 100%;
}

.col-90 {
    width: 90%;
}

.col-80 {
    width: 80%;
}

.col-75 {
    width: 75%;
}

.col-70 {
    width: 70%;
}

.col-50 {
    width: 50%;
}

.col-1-3 {
    width: calc(100% / 3);
}

.col-30 {
    width: 30%;
}

.col-25 {
    width: 25%;
}

.col-20 {
    width: 20%;
}

.col-10 {
    width: 10%;
}

.inline {
    display: inline-block;
}

/* LAYOUT */

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Main */

main {
    display: flex;
}

.sidebar {
    height: calc(100vh - var(--footer-height));
    width: var(--sidebar-width);
    background-color: #000000;
}

.main-content {
    width: calc(100% - var(--sidebar-width));
}

header {
    height: var(--header-height);
}

.content {
    height: calc(100vh - var(--footer-height) - var(--header-height));
}

/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-icons {
    width: var(--sidebar-width);
    height: calc(100vh - var(--footer-height));

}

.sidebar img {
    width: 50%;
}

.sidebar .img-big {
    width: 55%;
}

.sidebar .img-small {
    width: 30%;
    padding: 0;
}

.sidebar .profile {
    background-color: #808080;
    border-radius: 50%;
}

/* Header */

header {
    background-color: #090B13;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

header .upgrade {
    color: white;
    padding: 10px 30px;
    border-radius: 2rem;
    border: 1px solid white;
    font-weight: 600;
    font-size: .8rem;
}

/* content */

.main-content {
    background-color: #141922;
}

.content ul {
    text-align: center;
    padding-top: 20px;
}

.content ul li {
    color: #7F8085;
    font-weight: 600;
    font-size: .7rem;
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 20px;
}

.content ul li:hover {
    color: white;
    cursor: pointer;
}

.rigaverde {
    width: 30px;
    border: 1px solid #B9FF35;
    position: relative;
    right: -20px;
    top: 6px;
}

.content h2 {
    padding: 20px;
}

.content h2,
h3 {
    color: white;
}

.content h4 {
    color: #7D7F83;
}

.content h3,
h4 {
    text-align: center;
    padding-top: 10px;
}

.content .card img {
    width: 200px;
}

.card {
    display: inline-block;
    width: 200px;
    padding: 20px;
}

.main-content {
    overflow: auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.contenitore .piuascolti {
    text-align: left;
    padding-left: 20px;
}

.container-card {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.container-card * {
    flex-shrink: 0;

}



/* Footer */

footer {
    background-color: #282828;
    height: var(--footer-height);
    display: flex;
    padding: 5px 10px;
}

.footer-left {
    width: calc(100% / 4);
    display: flex;
    gap: 10px;
}

.footer-left img {
    width: 35px
}

.footer-left h3 {
    font-size: small;
}

.footer-left p {
    font-weight: 800;
    font-size: small;
    color: #848484;
}

.footer-left {
    display: flex;
    align-items: center;
}

.icons-footer * {
    color: #848484;
    display: block;
    padding-bottom: 5px;
}

.footer-center {
    width: calc(50%);
}

.footer-right {
    width: calc(100% / 4);
}


/* responsive xs */